In [4]:
import pandas as pd
import calendar
import json 
from collections import defaultdict
import copy

In [5]:
df = pd.read_csv(r'C:\Users\Chinmay Itagi\Documents\GitHub\Information-Vizualization-Project_1\Data\crime-in-los-angeles\Crime_Data_2010_2017.csv')
list(df)

['DR Number',
 'Date Reported',
 'Date Occurred',
 'Time Occurred',
 'Area ID',
 'Area Name',
 'Reporting District',
 'Crime Code',
 'Crime Code Description',
 'MO Codes',
 'Victim Age',
 'Victim Sex',
 'Victim Descent',
 'Premise Code',
 'Premise Description',
 'Weapon Used Code',
 'Weapon Description',
 'Status Code',
 'Status Description',
 'Crime Code 1',
 'Crime Code 2',
 'Crime Code 3',
 'Crime Code 4',
 'Address',
 'Cross Street',
 'Location ']

In [6]:
df['year'] = pd.DatetimeIndex(df['Date Occurred']).year
df = df[['year',"Victim Age",'DR Number']]

In [7]:
list(df)

['year', 'Victim Age', 'DR Number']

In [8]:
def getage(x):
    if x<=15:
        return "0-15"
        
    elif x>=15 and x<25:
        return "15-25"
         
    elif x>25 and x<=60:
        return "25-60"
    else: 
        return "above 60"
    
df["Victim Age"] =df["Victim Age"].apply(lambda x: getage(x))
df_group_sex = df.groupby(['year','Victim Age'],as_index=False).count()

In [9]:
df_group_sex

    year Victim Age  DR Number
0   2010       0-15       6292
1   2010      15-25      32713
2   2010      25-60     112705
3   2010   above 60      56866
4   2011       0-15      28093
5   2011      15-25      31150
6   2011      25-60     109285
7   2011   above 60      31648
8   2012       0-15      27809
9   2012      15-25      29931
10  2012      25-60     110560
11  2012   above 60      32497
12  2013       0-15      25192
13  2013      15-25      27615
14  2013      25-60     106701
15  2013   above 60      32256
16  2014       0-15      25257
17  2014      15-25      27204
18  2014      25-60     108747
19  2014   above 60      33261
20  2015       0-15      28164
21  2015      15-25      28897
22  2015      25-60     118880
23  2015   above 60      37969
24  2016       0-15      31786
25  2016      15-25      28902
26  2016      25-60     122299
27  2016   above 60      40051
28  2017       0-15       2614
29  2017      15-25      39000
30  2017      25-60      82962
31  2017   above 60      27010

In [10]:
dict_values= defaultdict(dict)
for each in df_group_sex.iterrows():
    dict_values[each[1]['year']][each[1]["Victim Age"]] = each[1]["DR Number"]

In [11]:
dict_values_copy = copy.deepcopy(dict_values)

In [12]:
json_file = {}
for i,(j,k) in enumerate(dict_values_copy.items()):
    json_file[i]={"state":j,'freq':k,'total':sum(k.values())}

In [13]:
json_file

{0: {'state': 2010,
  'freq': {'0-15': 6292, '15-25': 32713, '25-60': 112705, 'above 60': 56866},
  'total': 208576},
 1: {'state': 2011,
  'freq': {'0-15': 28093, '15-25': 31150, '25-60': 109285, 'above 60': 31648},
  'total': 200176},
 2: {'state': 2012,
  'freq': {'0-15': 27809, '15-25': 29931, '25-60': 110560, 'above 60': 32497},
  'total': 200797},
 3: {'state': 2013,
  'freq': {'0-15': 25192, '15-25': 27615, '25-60': 106701, 'above 60': 32256},
  'total': 191764},
 4: {'state': 2014,
  'freq': {'0-15': 25257, '15-25': 27204, '25-60': 108747, 'above 60': 33261},
  'total': 194469},
 5: {'state': 2015,
  'freq': {'0-15': 28164, '15-25': 28897, '25-60': 118880, 'above 60': 37969},
  'total': 213910},
 6: {'state': 2016,
  'freq': {'0-15': 31786, '15-25': 28902, '25-60': 122299, 'above 60': 40051},
  'total': 223038},
 7: {'state': 2017,
  'freq': {'0-15': 2614, '15-25': 39000, '25-60': 82962, 'above 60': 27010},
  'total': 151586}}

In [14]:
with open(r'C:\Users\Chinmay Itagi\Documents\GitHub\Information-Vizualization-Project_1\Data\Chinmay_Data\dict_data.json', 'w') as outfile:
    json.dump(json_file, outfile)